ul{
    margin: 0;
    padding: 0;
}


/* Our Fonts*/
@font-face {
    font-family: 'Tajawal-Black';
    src: url('../fonts/ar/Tajawal-Black.ttf');
}
@font-face {
    font-family: 'Tajawal-Bold';
    src: url('../fonts/ar/Tajawal-Bold.ttf');
}
@font-face {
    font-family: 'Tajawal-Tajawal-ExtraBold';
    src: url('../fonts/ar/Tajawal-ExtraBold.ttf');
}
@font-face {
    font-family: 'Tajawal-Tajawal-ExtraLight';
    src: url('../fonts/ar/Tajawal-ExtraLight.ttf');
}
@font-face {
    font-family: 'Tajawal-Tajawal-Light';
    src: url('../fonts/ar/Tajawal-Light.ttf');
}
@font-face {
    font-family: 'Tajawal-Medium';
    src: url('../fonts/ar/Tajawal-Medium.ttf');
}
@font-face {
    font-family: 'Tajawal-Regular';
    src: url('../fonts/ar/Tajawal-Regular.ttf');
}
@font-face {
    font-family: 'OpenSans-Bold';
    src: url('../fonts/en/OpenSans-Bold.ttf');
}
@font-face {
    font-family: 'OpenSans-BoldItalic';
    src: url('../fonts/en/OpenSans-BoldItalic.ttf');
}
@font-face {
    font-family: 'OpenSans-ExtraBold';
    src: url('../fonts/en/OpenSans-ExtraBold.ttf');
}
@font-face {
    font-family: 'OpenSans-ExtraBolditalic';
    src: url('../fonts/en/OpenSans-ExtraBoldItalic.ttf');
}
@font-face {
    font-family: 'OpenSans-Italic';
    src: url('../fonts/en/OpenSans-Italic.ttf');
}
@font-face {
    font-family: 'OpenSans-Light';
    src: url('../fonts/en/OpenSans-Light.ttf');
}
@font-face {
    font-family: 'OpenSans-LightItalic';
    src: url('../fonts/en/OpenSans-LightItalic.ttf');
}
@font-face {
    font-family: 'OpenSans-Regular';
    src: url('../fonts/en/OpenSans-Regular.ttf');
}
@font-face {
    font-family: 'OpenSans-SemiBold';
    src: url('../fonts/en/OpenSans-SemiBold.ttf');
}
@font-face {
    font-family: 'OpenSans-SemiBoldItalic';
    src: url('../fonts/en/OpenSans-SemiBoldItalic.ttf');
}

/* End Our Fonts*/ 


/*Start Our Style */
header {
    margin-bottom: 50px;
}
.top-bar {
    display: flex;
    justify-content: space-around;
    border-bottom: 2px solid #DDD;   
}
@media (max-width:425px){
    .top-bar {
        display: block;
        border-bottom: none;
    }
}

@media (max-width:425px) {
    .bar-info {
        border-bottom: 1px solid #DDD;
    }
}
@media (max-width:375px) {
    .bar-info {
        padding: 1px;
    }
}
@media (max-width:320px) {
    .bar-info {
        font-size: 11px;
        display: flex;
    }
}
header .bar-info i {
    padding: 20px;
}
@media (max-width:375px) {
    header .bar-info i {
        padding: 0;
        margin:10px;
    }

}

header .bar-info i .right{
    color:#d0c4c4;
}
header .bar-info i .left {
    font-family: 'OpenSans-Regular';
}

/*end 1st Section*/

header .left-bar {
   margin-top: 10px;
   display: flex;
   border-left: 2px solid #DDD;
}
@media (max-width:425px) {
    header .left-bar {
        border:none;
        justify-content: space-between;
    }
}

header .left-bar span {
    color:#d0c4c4 ;
    letter-spacing: 2px;
}
@media (max-width:425px){
    header .left-bar span {
        letter-spacing: 1px;
        font-size: 11px;
    }
}
.left-bar .Langu {
    margin-top: 7px;
    border-left: 2px solid #DDD;
    padding-left: 10px;
}
.prize .prize-logo {
    width: 40px;
    height: 40px;
    background-color: #da1d42;
    color: #fff;
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
}
@media (max-width:425px){
    .prize .prize-logo {
        width: 29px;
        height: 33px;
        font-size:9px;
    }
}
.prize .info-prize {
    padding:10px;
    bottom: 0;
}
@media (max-width:768px){
    .prize .info-prize{
        display: none;
    }
}
.prize .info-prize h4 {
    font-family: 'OpenSans-regular';
    font-weight: bold;
    font-size: 15px;
}
.prize .info-prize .style1 {
    color:#d0c4c4;

}
.prize .info-prize .style2 {
    color: red;
    font-weight: bold;
}

.prize {
    display: flex;
    align-items: center;
}
/*End Our Top*/
.search-container {
    position: relative;
    max-height: 52px;
}
.search-container select {
    position: absolute;
    top: 0;
    height: 45px;
    color: #999999;
    outline: none;
    font-family: 'OpenSans-Regular';
}
@media (max-width:425px){
    .search-container select {
        height: 34px;
    }
}

.search-container dutton {
    position: absolute;
    top: 0;
    transform: translateY(13px);
    right: 5px;
}
@media (max-width:425px){
    .search-container dutton {
        transform: translateY(8px);
    }
}

.logo {
    display: flex;
    margin-top: 50px;
}
@media (max-width:768px){
    .logo {
        margin-top:20px;
    }
}
.logo .resize {
        width: 100%;
        display: flex;
        justify-content: space-evenly;
        margin-top: 2%;
        align-items: center;

}
@media (max-width:768px){
    .logo .resize {
        margin-top: 0;
    }
}


.logo .resize .logo-info span {
    color:#d0c4c4;
}
 .logo .bar-logo  {
    padding: 10px;
}
@media (max-width:425px){
    .logo .bar-logo {
        width:40%
    }
}
 .logo .logo-info {
    width: 15%;
    height: 52px;
    border: 2px solid #DDD;
    padding-top: 8px;
}
    
.logo .form-control {
    padding: 10px;
    height: 45px;
    border-radius: 0;
    font-family: 'OpenSans-Italic' ;
    width: 340px;
     margin-left: 82px;
}
@media (max-width:425px){
    .logo .form-control {
        height: 34px;
        width: 149px;
    }
}


/*top bar End*/

/*Start Our Nav*/


.info-rt {
    background-color: #171717;
}
 
nav .nav-info ul {
   list-style-type: none;
   margin: 0;
   text-decoration: none;
   color: white;
   padding: 5px;
   display: flex;
   justify-content: space-around;

}
nav .nav-info ul li span {
    color: #be1c3b;
}
nav .nav-info ul li {
    display: inline-block;
    padding:15px;
    color: white;
    font-family:'OpenSans-SemiBold' ;
}
@media (max-width:768px){
    nav .nav-info ul li {
        padding: 4px;
        font-size: 11px;
    }
}
@media (max-width:425px){
    nav .nav-info ul li {
        padding: 1px;
        font-size: 7px;
    }
}
@media (max-width:320px){
    nav .nav-info ul li {
        font-size: 5px;
    }
}


nav .nav-info ul li a {
    color:white;
    text-decoration: none;
}

nav .nav-info ul li a:hover {
    color:#8e8e8e;
}
/*End our Bar*/

/*Start Our slider*/ 
header {
    position: relative;
}
header .slider-img {
    position: relative;
}

header .slider-info  {
    position: absolute;
    top: 24%;
    left: 35%;
    z-index: 1;
}
@media (max-width:768px){
    header .slider-info{
     top: 14%;
     left: 31%;
    }
}
@media (max-width:425px){
    header .slider-info{
     top: 14%;
     left: 35%;
    }
}
header .slider-info h2 {
    color: white;
    font-size: 70px;
    font-family: 'OpenSans-ExtraBold';
    padding: 0;
}
@media (max-width:768px){
    header .slider-info h2 {
     font-size: 50px;
    }
}
@media (max-width:425px){
    header .slider-info h2 {
     font-size: 20px;
    }
}
header .slider-info p {
    font-family: 'OpenSans-Light';
    color: white;
    letter-spacing: 2px;
}
@media (max-width:768px){
    header .slider-info p {
     letter-spacing: 1px;
    }
}
@media (max-width:425px){
    header .slider-info p {
     letter-spacing: 1px;
     font-size: 7px;
    }
}

.slider-info .style {
    border: none;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
@media (max-width:768px){
    .slider-info .style {
     font-size: 13px;
    }
}
.slider-info .style ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.slider-info .style ul li a {
    color:white;
    transition: 1s;
}
@media (max-width:425px) {
    .slider-info .style ul li a {
        font-size: 8px;
    }
}
.slider-info .style ul li {
    border: 2px solid #FFF;
    padding: 16px;
    font-family:'OpenSans-SemiBold' ;
}
@media (max-width:425px) {
    .slider-info .style ul li {
        border: 1px solid #FFF;
        padding: 0 5px 5px;
    }
}
.slider-info .style ul li a:hover {
    text-decoration: none;
    color: black;

}
.owl-carousel .owl-nav button.owl-next, .owl-carousel .owl-nav button.owl-prev, .owl-carousel button.owl-dot {
    display: none;
}
@media (max-width:425px){
    .owl-theme .owl-dots .owl-dot span {
        width: 5px;
        height: 5px;
    }
}
@media (max-width:768px){
    .owl-theme .owl-dots .owl-dot span {
        margin: 0px 4px;
    }
}
.owl-theme .owl-dots, .owl-theme .owl-nav {
    position: absolute;
    top: 80%;
    left: 44%;
}
@media (max-width:425px) {
    .owl-theme .owl-dots, .owl-theme .owl-nav {
        left:42%;
    }
}
.owl-theme .owl-dots .owl-dot span {
    background-color: white;
}

/*Start our Banners*/
.baners {
    margin-bottom: 50px;
}

.baners .imag-container{
    display: flex;
    position: relative;
}


.baners .imag-container .left{
    display: flex;
    flex-direction: column ;
    justify-content: space-between;
}
.baners .imag-container img {
    display: block;
    width: 100%;
    height: 100%;
}
.baners .imag-container .imag-content{
    padding: 10px;
}
.baners .imag-container .size .herf {
    position: absolute;
    top: 81%;
    left: 86%;
    width: 141px;
    transform: translateX(10px);
    background-color: #cf1c3f;
    padding: 10px 5px 5px 5px;
}
@media (max-width:1024px) {
    .baners .imag-container .size .herf {
        position: absolute;
        top: 74%;
        left: 86%;
        transform: translateY(10px);
        width: 132px;
        height: 125px;
        padding: 10px 5px 5px 5px;
    }
}
@media (max-width:768px) {
    .baners .imag-container .size .herf {
        top: 69%;
        left: 81%;
        transform: translateY(9px);
        width: 136px;
        height: 115px;
    }
}
@media (max-width:425px) {
    .baners .imag-container .size .herf {
     top: 63%;
    left: 83%;
    transform: translateY(9px);
    width: 67px;
    height: 72px;
    }
}
@media (max-width:375px) {
    .baners .imag-container .size .herf {
     top: 58%;
     left: 81%;
    }
}
@media (max-width:320px) {
    .baners .imag-container .size .herf {
        top: 58%;
        left: 82%;
        width: 52px;
        height: 59px;
    }
}
.baners .imag-container .size .herf a{
    text-decoration: none;
    font-size: 30px;
    color:White;
    transition: 1s;
    display: flex;
    text-align: center;
    padding:10px;
    font-family: 'OpenSans-Light';
}
@media (max-width:768px) {
    .baners .imag-container .size .herf a{
        font-size: 24px;
    }
}
@media (max-width:425px) {
    .baners .imag-container .size .herf a{
        font-size: 15px;
    }
}
@media (max-width:320px) {
    .baners .imag-container .size .herf a{
        font-size: 11px;
    }
}

.baners .imag-container .size .herf a:hover {
    text-decoration: none;
    color:black;
}

/*End Our Banner*/

/*Start Our On Sale*/
.on-sale {
    margin-top: 50px;
    margin-bottom: 80px;
}
@media (max-width:768px){
    .on-sale {
        margin-right: 59px;
    }
}
@media (max-width:768px){
    .on-sale {
        margin-right: 0;
    }
}
.on-sale img { 
    margin: auto;
}

.on-sale .sale h2 {
    margin-bottom: 50px;
    font-family: 'OpenSans-SemiBold';
}
@media (max-width:425px){
    .on-sale .sale h2 {
        margin-bottom: 20px;
        font-size: 25px;
    }
}
@media (max-width:320px){
    .on-sale .sale h2 {
        font-size: 20px;
    }
}
.on-sale .product {
    position: relative;
}
.on-sale .product .info {
    top: 84%;
    position: absolute;
    width: 100%;
    height: 16%;
    background-color: #d92547;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'OpenSans-bold';
    transition: 1s;
    opacity: 0;
}
@media (max-width:768px) {
    .on-sale .product .info {
        width: 76%;
    }
}
@media (max-width:425px) {
    .on-sale .product .info {
        width: 100%;
    }
}
.on-sale .product:hover .info{
    opacity:1;
}
.on-sale .product .info p {
    color:white;
}
@media (max-width:1024px){
    .on-sale .product .info p {
        font-size: 12px;
    }
}
@media (max-width:768px){
    .on-sale .product .info p {
        font-size: 11px;
    }
}
@media (max-width:425px){
    .on-sale .product .info p {
        font-size: 9px;
    }
}
.on-sale .prod-info h4 {
    margin-top: 30px;
    font-family: 'OpenSans-Regular';
}
@media (max-width:425px){
    .on-sale .prod-info h4 {
        font-size: 8px;
        margin-top:20px;
    }
}
.on-sale .prod-info p {
    font-family:'OpenSans-bold';
    color: #d92547;
    font-size: 18px;
}
@media (max-width:425px){
    .on-sale .prod-info p {
        font-size: 10px;
    }
}

@media (max-width:768px) {
    .on-sale .prod-info {
        margin-bottom: 30px;
    }
}
    
/* End Our sale*/

/*Start Our Features*/

.sub {
    background-image: url('../images/featuers.png');
    background-size: cover;
    
    margin-bottom: 100px;
}
@media (max-width:425px){
    .sub {
        height: auto;
    }
}

.sub .sub-info h2{
    color: white;
    margin-top: 14%;    
    font-family: 'OpenSans-ExtraBold';
    font-size: 62px;
    margin-bottom: 20px;
}
@media (max-width:1024px){
    .sub .sub-info h2 {
        margin-top: 9%;
        font-size: 40px;
    }
}
@media (max-width:425px){
    .sub .sub-info h2 {
        
        font-size: 14px;
    }
}
.sub .sub-info p {
    color: white;
    font-size: 18px;
    font-family: 'OpenSans-Regular';
    font-weight: bold;
    margin-bottom: 30px;
}
@media (max-width:1024px){
    .sub .sub-info p {
        font-size:12px;
        margin-bottom: 20px;
    }
}
@media (max-width:425px){
    .sub .sub-info p {
        font-size:5px;
        margin-bottom: 7px;
    }
}


.sub .email-info input {
    border: none;
    background-color: transparent;
    border-bottom: 3px solid #1e1e1e;
    width: 50%;
    text-align: center;
    padding:10px;
    margin: 13px;
    outline: none;
    margin-bottom: 30px;
    color: white;
}
@media (max-width:425px) {
    .sub .email-info input {
        font-size: 8px;
        margin-bottom: 15px;
        padding: 6px;
    }
}
.sub .email-info input::placeholder {
    font-family: 'OpenSans-Italic';
    letter-spacing: 2px;
}
.sub .sweet {
    background-color:#cf1c3f;
     color: white;
     font-family: 'OpenSans-Regular';
     padding: 14px 44px 12px 46px;
     border: none;
     outline: none;
    letter-spacing: 2px;
    font-weight: bold;
    transition: 1s;
    margin-bottom: 20px;
}
@media (max-width:425px) {
    .sub .sweet {
        font-size: 8px;
        padding: 4px 9px ;
        margin-bottom: 20px;
        letter-spacing: 1px;
    }
}
.sub .sweet:hover {
    color: yellow;
    transform: scale(1.063);
}
/*End Our Sub */

/* Start Our Feat */ 

.featuers {
    margin-left: 8%;
    margin-bottom: 8%;
}
.featuers .feat-info {
    margin-top: 50px;
    margin-bottom: 50px;
    border: 2px solid #DDD;
    padding: 40px 0;
}

@media (max-width:768px){
    .featuers .feat-info {
        width:82%;
    }
}
@media (max-width:425px){
    .featuers .feat-info {
        margin-left: auto;
        margin-right: auto;
        width: 100%;
    }
}
.featuers .feat-info h4 {
    font-family:'OpenSans-SemiBold' ;
}
.featuers .feat-info p {
    font-family:'OpenSans-SemiBold';
    color: #d0c4c4;
}
/*End Our Feat*/

/*Start Our Footer*/

.footer-items {
    
    text-align: justify;
}
.footer-items h4 {
    font-family:'OpenSans-SemiBold' ;
}
.footer-items ul {
    padding-top: 10px;
}
.footer-items a{
    color:#959595;
    transition: 0.6s;
}
.footer-items a:hover {
    text-decoration: none;
    color: red;
}

.footer-items ul a li {
    font-family: 'OpenSans-regular';
    font-size: 14px;
    padding: 3px;
    font-weight: bold;
}

@media (max-width:768px){
    .logo-footer {
        margin-bottom:10px;
    }
}
@media (max-width:320px){
    .logo-footer {
        margin-bottom:30px;
    }
}
.logo-footer .logo-icons {
    margin-top: 20px;
    letter-spacing: 10px;
    font-size: 16px;
}
.logo-footer .logo-icons a {
    color:#959595;
    transition: 0.7s;
}
.logo-footer .logo-icons a:hover {
    color: red;
}
.footer-bottom {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    border-top: 2px solid #DDD;
    padding: 11px;
}
@media (max-width:425px){
    .footer-bottom {
        flex-direction: column;
    }
}
.footer-bottom p {
    color: #959595;
}
.footer-bottom span {
    color: #da1d42;
    font-family:'OpenSans-Semibold' ;
}
.footer-bottom .paymant {
    margin-left:30%;
}
@media (max-width:768px){
    .footer-bottom .paymant {
        width: 100%;
        margin:0;
    }
}